{%  extends "base.html" %}

{% block title %}Comments{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/accounts/profile/">Profile</a></li>
                <li role="presentation"><a href="/accounts/history/">History</a></li>
                <li role="presentation" class="active"><a href="/accounts/comments/">Comments</a></li>
                <li role="presentation"><a href="/accounts/manage_task_requests/">Manage Task Requests</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h4>Comments about you</h4>
            {% for comment in comments_about_you %}
                <div class="panel panel-default">
                    <div class="panel-heading"><i><strong>{{ comment.employer.display_name }}</strong></i> said:</div>
                    <div class="panel-body">
                        {{ comment.text }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6 col-md-offset-3">
            <h4>Your comments</h4>
            {% for comment in your_comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">about <i><strong>{{ comment.employee.display_name }}</strong></i>:</div>
                    <div class="panel-body">
                        {{ comment.text }}
                    </div>
                </div>
            {% endfor %}
        </div>
   </div>
{% endblock %}
