{%  extends "base.html" %}
{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/accounts/profile/">Profile</a></li>
        <li role="presentation" ><a href="/accounts/history/">History</a></li>
        <li role="presentation"><a href="/accounts/comments/">Comments</a></li>
    </ul>
    <div class="row">
        <div id="info" class="col-md-10">
            <div>
                <strong>User Name:</strong> <i>{{ user.display_name }}</i>
            </div>
            <div>
                <strong>Skills:</strong>
            </div>
            <ul>
                {% for skill in skills %}
                    <li>
                        {{ skill.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="edit" class="col-md-2">
            <a class="btn btn-default" href="/accounts/edit/" role="button">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endblock %}
