{%  extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs">
                {% if is_owner %}
                    <li role="presentation" class="active"><a href="/accounts/profile/">Profile</a></li>
                    <li role="presentation"><a href="/accounts/history/">History</a></li>
                    <li role="presentation"><a href="/accounts/comments/">Comments</a></li>
                    <li role="presentation"><a href="/accounts/manage_task_requests/">Manage Task Requests</a></li>
                    {% if user.is_admin %}
                        <li role="presentation"><a href="/accounts/manage_users/">Users</a></li>
                    {% endif %}
                {% else %}
                    <li role="presentation" class="active"><a href="/profile/{{user.id}}/">Profile</a></li>
                    <li role="presentation"><a href="/history/{{user.id}}/">History</a></li>
                    <li role="presentation"><a href="/comments/{{user.id}}/">Comments</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div>
                <h4>User Name</h4>
                <i>{{ user.display_name }}</i>
            </div>
            <div>
                <h4>Skills</h4>
            </div>
            <ul class="list-group">
                {% for skill in skills %}
                <li class="list-group-item">
                    {{ skill.title }}
                </li>
                {% endfor %}
            </ul>
        </div>

        {% if is_owner %}
            <div class="col-md-6 col-md-offset-3 text-center">
                <a class="btn btn-default" href="/accounts/edit/" role="button">
                    Edit Profile
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
