<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Posted by
            <i><strong>{{ task.employer.display_name }}</strong></i>
            at
            {{ task.upload_date }}
            in
            {{ task.location }}
            categorized as
            {{ task.category.name }}
        </div>
        <div class="panel-body">
            <div class="text-center">
                <h4>{{ task.title }}</h4>
            </div>
            <div>
                {{ task.text }}
            </div>
            <div class="text-center">
                <small>
                    {{ task.price }}
                    T
                </small>
            </div>
        </div>
        {% if user %}
        <div class="panel-footer">
            <div class="text-center">
                <a class="btn btn-default" href="/take_task/{{ task.id }}/" role="button">Take It!</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
